<script>
  function toggleMenu() {
    const dropdowns = document.getElementById("dropdownContents");
    dropdowns.style.display = dropdowns.style.display === "block" ? "none" : "block";
  }

  window.addEventListener("click", function (e) {
    if (!e.target.closest('.dropdowns')) {
      document.getElementById("dropdownContents").style.display = "none";
    }
  });
</script>

</body>
</html>
